/venv/
/.ipynb_checkpoints/
/hex/
/model/
/ssd/__pycache__/
/.idea/
/ssd_keras/img/
/ssd_keras/logs/
/ssd_keras/VOCdevkit/

/ssd_keras/requirements.txt
/ssd_keras/map_out/

*.pkl
*.h5
*.hdf5
*.jpg
/ssd_keras/*.txt